// Заголовки, загальні БЕМ блоки та інше...

// title 

.title { 
    color: rgb(255, 255, 255);
    font-family: "Montserrat";       
    font-weight: 600;
    line-height: 120%; /* 48/40 */
    letter-spacing: toRem(-0.5);
    transition: all 0.3s;
    @include adaptiveValue("font-size", 40, 24, 0, 1026, 320);
    &--min {
        @include adaptiveValue("font-size", 30, 18, 0, 1440, 320);    
    }
    &--big {
        line-height: 1.1;
        @include adaptiveValue("font-size", 60, 36, 0, 1440, 320);
    }

}
.text {
    display: inline-block;
    line-height: 1.5; /* 24/16 */     
}
// Ссылки

.hover-link {

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: attr(data-content);
        display: inline-block;
        color: $redColor;
        width: 100%;
        clip: rect(0, 0, 110px, 0);
        -webkit-transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
        transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
    }
   @media (any-hover: hover){
    &:hover{
        &::before {
            clip: rect(0, 110px, 110px, 0);
        }
    }
   }

}

.book {
    position: relative;
    color: #fff;
    letter-spacing: toRem(-0.4);    
    font-weight: 500;
    line-height: 131.25%; /* 21/16 */
    padding-left: toRem(3);
    padding-right: toRem(3);
    padding-top: toRem(5.5);
    padding-bottom: toRem(5.5);
    span {
        position: relative;
        z-index: 2;
    }
    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #F95454;
        height: toRem(2);
        width: 100%;
        transition: all 0.3s;
    }
    @media (any-hover: hover){
        &:hover{
            &::after {
                top: 0;
                height: 100%;
            }          
        }
    }
}
.btn, .btn--green {
    position: relative;
    color: #fff;
    letter-spacing: toRem(-0.4);    
    font-weight: 500;
    line-height: 131.25%; /* 21/16 */
    padding-left: toRem(20);
    padding-right: toRem(20);
    padding-top: toRem(10);
    padding-bottom: toRem(10); 
    border-radius: toRem(3);

    span {
        position: relative;
        z-index: 2;
    }
    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
      
        height: toRem(0);
        width: 100%;
        transition: all 0.3s;
    }
    @media (any-hover: hover){
        &:hover{
            &::after {
                top: 0;
                height: 100%;
            }          
        }
    }
}
.btn {
    background-color: #F95454;
    &::after {
        background-color: #fd022e;
    }
}
.btn--green {
    background-color: #63847F;
    &::after {
        background-color: #64a49b; 
        }
    &:active {
        top: toRem(3);
    }
}
.button--arrow {
    display: inline-flex;
    border: toRem(2) solid #c4a1a8;       
    padding: toRem(5) toRem(20) toRem(5) toRem(10);
    letter-spacing: toRem(-0.4);    
    transition: all 0.3s ;
    position: relative;
    @media (max-width:$mobile){
         width: 100%;
         text-align: center;
         display: inline-block; 
    }
    &::after {
        content: '';
        position: absolute;
        width: toRem(12);
        height: toRem(12);
        background: center / contain no-repeat url(../img/contacts/arrow45.svg);
        right: toRem(1);
        top: toRem(1);        
        transition: all 0.3s ;
    }
    &::before {
        content: '';
        position: absolute;
        width: toRem(20);
        height: toRem(20);
        background-color: #ded5d0;
        right: toRem(-3);
        top: toRem(-3);
        transition: all 0.3s ;
    }
    
    @media (any-hover: hover){ 
        &:hover{            
            &::before {
                opacity: 0;                  
            }
            &::after {
                right: toRem(5);
                top: toRem(5);
            }
           
        }
    }
}
