// Заголовки, загальні БЕМ блоки та інше...

// title 
.title {
    @include adaptiveValue("font-size", 40, 24, 0, 1026, 320);
}
.title { 
    color: rgb(255, 255, 255);
    font-family: "Montserrat";       
    font-weight: 600;
    line-height: 120%; /* 48/40 */
    letter-spacing: toRem(-0.5);
    transition: all 0.3s;
    &--min {
        @include adaptiveValue("font-size", 30, 18, 0, 1440, 320);    
    }
    &--big {
        line-height: 1.1;
        @include adaptiveValue("font-size", 60, 36, 0, 1440, 320);
    }

}
.text {
    display: inline-block;
    line-height: 1.5; /* 24/16 */     
}
// Ссылки

.book {
    position: relative;
    color: #fff;
    letter-spacing: toRem(-0.4);    
    font-weight: 500;
    line-height: 131.25%; /* 21/16 */
    padding-left: toRem(3);
    padding-right: toRem(3);
    padding-top: toRem(5.5);
    padding-bottom: toRem(5.5);
    span {
        position: relative;
        z-index: 2;
    }
    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #F95454;
        height: toRem(2);
        width: 100%;
        transition: all 0.3s;
    }
    @media (any-hover: hover){
        &:hover{
            &::after {
                top: 0;
                height: 100%;
            }          
        }
    }
}