.page {

    // .page__hero
    
    &__hero {
    }
    // .page__about

    &__about {
    }
    // .page__advantages

    &__advantages {
    }
   // .page__extension
    
    &__extension {
    }
    // .page__services

    &__services {
    }
   // .page__passion

    &__passion {
    }
    // .page__best

	&__best {
	}

}
//====================================================================================================
.hero {
    padding-bottom: toRem(65);
    min-height: 100svh;
    display: flex;
    align-items: center;
    @include adaptiveValue("padding-top", 150, 65, 0, $containerWidth, 639.98);
    // .hero__container

    &__container {
        flex-grow: 1;
    }

    // .hero__body

    &__body {
        max-width: toRem(955);
        margin: 0 auto;
        position: relative;   
            @media (min-width: toEm(600)){   
            display: grid;        
            grid-template-columns: 41.884817% 31% auto; /* 412/955 */
            align-items: start;
        }
    
    }
    // .hero__action

	&__action {
        max-width: toRem(955);
        margin: 0 auto;
        position: relative;  
	}


    // .hero__title
    &__title {
        text-transform: uppercase;
        @include adaptiveValue("font-size", 50, 24, 0, 1026, 320);
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }
    &__title {        
        // Anim
        opacity: 0;
        transform: translate(0,20%);
       ._watcher-view  & {
            transform: translate(0,0);
            transition: transform 1s 0.5s, opacity 1s 0.5s;
            opacity: 1;
    }
        @media (min-width:toEm(600)){
        padding-top: 10.893246%; /* 50/459 */
        max-width: toRem(400);
        }
    }
		// .hero__title

		&__title {

			// .hero__title_typing

			&_typing { 
                color: #f5f3ea; 
                height: toRem(30);       
                @include adaptiveValue("font-size", 37, 24, 0, 1026, 320);
                &::after {
                    content: '|';
                    color: #fff;
                    font-weight: 300;
                    padding: 0 toRem(1);
                    animation: cursor1 1s linear infinite
                }
            }

		}
        @keyframes cursor1 {
            50% {color:#DFCCC2} 
        }     
          
    
    // &__subtitle {
    //     color: #fff;
    //     font-family: "Pacifico";       
    //     transform: rotate(-10deg);
    //     margin-left: toRem(50);
    //     @include adaptiveValue("font-size", 40, 24, 0, 1026, 320);
    // }
	// .hero__title-item

	&__title-item {
            position: relative;
            z-index: 3;
            @media (max-width: toEm(599.98)){          
                &:not(:last-child) {
                    margin-bottom: toRem(20);
                }             
            }
	}

	// .hero__media

    &__media {
            position: relative;
            @media (min-width: toEm(600)) {
                margin-left: toRem(-115);
            }
            @media (max-width: toEm(599.98)){
                &:not(:last-child) {
                    margin-bottom: toRem(20);
                }             
            }
    }
    // .hero__main-image-item
    
    &__main-image-item {
                position: relative;
                z-index: 2;
    }
      
    // .hero__main-image

    &__main-image {
        aspect-ratio: 412 / 459;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: toRem(2.7);   

        // Anim
        opacity: 0;  
        transform: translate(0,5%);
        ._watcher-view  & {   
            transform: translate(0px,0px);
        transition: all 1s 0.1s;
        opacity: 1;
            }
    }
 
	// .hero__content

	&__content {
            @media (max-width: toEm(599.98)) {
            display: flex;
            // flex-direction: row-reverse;
            gap: toRem(20);          
          }
	}

    // .hero__circle-image-item
    
    &__circle-image-item {
                position: relative;
                z-index: 3;
                @media (min-width:toEm(600)){
                    &:not(:last-child) {
                        margin-bottom: toRem(30);
                    }  
                }
                @media (max-width: toEm(599.98)) {
                    flex-shrink: 0;
                    flex-basis: toRem(100);
                }
    }
    
	// .hero__circle-image

	&__circle-image {   
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;
        max-width: toRem(243);
        object-fit: cover; 
        border-radius: 50%;
        overflow: hidden;         
    @media (min-width: toEm(600)) {
          transform: translateX(toRem(-65)) scale(0);
        ._watcher-view  & {    
            transform:  translateX(toRem(-65)) scale(1);
            transition: all 1s 1.5s;
            }
    }
    @media (max-width: toEm(599.98)) {
        transform: scale(0);
    
        ._watcher-view  & {    
            transform: scale(1);
            transition: all 1s 1.5s;
            }
    }
  	}
 
   		// .hero__deco-item

		&__deco-item {
            position: absolute;
		}

		// .hero__deco-item--one

		&__deco-item--one {
            aspect-ratio: 233 / 195; 
            max-width: 56.553398%; /* 233/412 */
            right: -26.699029%; /* 110/412 */
            top: -16.557734%; /* 76/459 */     
            .hero__deco {
                transform-origin: left bottom;
                transform: scale(0) rotate(-20deg);
                ._watcher-view  & {    
                    transform: scale(1) rotate(0deg);
                    transition: all 1.5s 1s;
                    }
            }
		}
        &__deco-item--two {
            aspect-ratio: 239 / 278;   
            max-width: 58.009709%; /* 239/412 */
            bottom: -31.154684%; /* 143/459 */
            right: -21.116505%; /* 87/412 */
            .hero__deco {
                transform-origin: 0 0;
                transform: scale(0) rotate(-20deg);
                ._watcher-view  & {    
                    transform: scale(1) rotate(0deg);
                    transition: all 1.5s 1s;
                    }
            }
        }
     // .hero__deco

    &__deco {
       transform: scale(0);
    }   
  
		// .hero__figure-item

		&__figure-item {
            position: absolute;
            max-width: toRem(197);
            aspect-ratio: 197 / 197;
            bottom: -12.418301%; /* 57/459 */
            left: -21.84466%; /* 90/412 */
		}

    // .hero__figure

    &__figure {  
        width: 100%; 
        transform-origin:  top right;
        transform: scale(0) rotate(-20deg);
            ._watcher-view  & {    
            transform: scale(1) rotate(0deg);
            transition: all 1.5s 1s;
            }
    }

    // .hero__text

    &__text { 
            // Anim
            opacity: 0; 
            transform: translate(-100%,0);  
            ._watcher-view  & { 
            transform: translate(0,0);   
            transition: all 1s 0.5s;
            opacity: 1;
                }                   
        @media (min-width: toEm(600)) {
            padding-left: 15.652174%; /* 36/230 */
            max-width: toRem(230);
        }
      
    }
    &__text-item {
        @media (max-width: toEm(599.98)) {    
            align-self: center;            
        }
    }
}

.action-hero {
    color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue(" padding-top", 100, 30);
    // .action-hero__text

    &__text {
        font-weight: 500; 
        line-height: 1.3;  
        text-align: center;
        @include adaptiveValue("font-size", 30, 20, 0, 1026, 320);
    }

    // .action-hero__btn

    &__btn {
    }
}
.text-action {

    // .text-action__item

    &__item {
        &:nth-child(1) {
            color: #f5f3ea;
            margin-bottom: toRem(10);
            @include adaptiveValue("font-size", 35, 21, 0, 1026, 320);
        }
    }
}
//====================================================================================================
.about {

    // .about__container

    &__container {
        max-width: toRem(1240);
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        @include adaptiveValue("column-gap", 80, 25, 0, $containerWidth, 991.98); 
        @media (max-width:$mobile){
              grid-template-columns: auto;
        }
    } 

		// .about__image

		&__image {
            max-width: toRem(530);
            aspect-ratio: 530 / 350;
            overflow: hidden;
            align-self: center;
            @media (max-width:$mobile){
                align-self: self-start;
            justify-self: center;
            }
            img {
                width: 100%;
                object-fit: cover;
            }

		}


    // .about__content

    &__content {
    }

    // .about__title

    &__title {    
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 10);           
        }
    }

    // .about__text

    &__text {
        > p {
            &:not(:last-child) {
                margin-bottom: toRem(10);
            }
      @media (min-width:$mobile){
        //  max-width: toRem(390); 
      }
        }
    }
}

//====================================================================================================
.advantages {
    padding-bottom: toRem(40);
    position: relative;

    // .advantages__container

    &__container {       
    }

    // .advantages__content

    &__content {  
        position: relative;

        max-width: toRem(1240);
        margin: 0 auto;

        display: flex;
        align-items: start;
        justify-content: space-between;
        row-gap: toRem(50);    
        @include adaptiveValue("column-gap", 80, 25, 0, $containerWidth, 991.98); 
        @media (max-width:$mobile){
            flex-direction: column;
            align-items: center;
        } 
    }
    &__picture {
        width: 100%;
        position: relative;                
        &--start {
            @media (min-width:toEm(600)){
                flex-basis: toRem(312); /* 312/1240 */              
            }
        }
        &--end {   
            @media (min-width:$mobile){
            transform: translate(0px,32.075472%); /* 170/530 */
            align-self: flex-end;
           }
           @media (min-width:toEm(600)){
            flex-basis: toRem(365); /* 365/1240 */        
            
        } 
        }
  
    }
    // .advantages__image

    &__image {  
        z-index: 2;   
        width: 100%;
        border-radius: toRem(5);  
        position: relative;
    }

    // .advantages__body

    &__body {       
        position: relative;
        z-index: 2;        
        @include adaptiveValue("padding-top", 140, 20); 
        @media (max-width:$mobile){
            width: 100%; 
        }          
    }

    // .advantages__title

    &__title {
        @include adaptiveValue("font-size", 36, 24, 0, 1240, 320);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 10);         
        }
    }

    // .advantages__text

    &__text {     
        > p {
            &:not(:last-child) {
                margin-bottom: toRem(10);
            }
        @media (min-width:$mobile){
            // max-width: toRem(390);
        }
        }
    }
        // .advantages__decor-items

        &__decor-items {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;        
        }
    
        // .advantages__decor-item
    
        &__decor-item {
            position: absolute;   
            stroke-dasharray: 1500;   
            stroke-dashoffset: 1500;
            &._watcher-view {                
                transition: all 2s linear 0.1s;
                // stroke-dasharray: 0;   
                stroke-dashoffset: 0;  
            } 
            &--start{
                left: 0;
                bottom: 0;
                transform: translate(-47.976879%,31.578947%); /* 108/342 */
                width: 110.897436%; /* 346/312 */
                aspect-ratio:346 / 342;
                &._watcher-view  {
                               
                }
            }
            &--end {
                left: 0;
                top: 0;
                transform: translate(-66.260163%,21.95122%); /* 81/369 */
                width: 134.794521%; /* 492/365 */
                aspect-ratio: 492 / 369;
                &._watcher-view  {
                                  
                }
            }
        }
    
        // .advantages__decor-value
    
        &__decor-value {
            width: 100%;
            height: 100%;
        }
}
.advantages-spolers {
    width: 100%;    
    display: grid;
	gap: toRem(5);   
    // .advantages-spolers__item
    @media (min-width:$mobile){ 
        max-width: toRem(500);       
    }

    &__item {  
        text-align: start;   
        line-height: 1.5;         
    }

    // .advantages-spolers__title

    &__title {  
        position: relative;
        font-weight: 500; 
        cursor: default; 
        list-style: none;  
        padding: toRem(0) toRem(20);
        &::marker,
        &::-webkit-details-marker {
            display: none;
        } 
        ._spoller-init & {
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: toRem(8);
                background-color: #63847F;
                height: toRem(10);
                width: toRem(10);
                border-radius: 50%;
                transition: transform 0.5s ease 0s;
            }
         
            &._spoller-active {
                &::before {
                  
                   opacity: .5;
                }
            }
        }            
    }

    // .advantages-spolers__body

    &__body {
       padding: toRem(0) toRem(5) toRem(5) toRem(15);
    }
}
//====================================================================================================

.extension {

    background-color: #C5CEBD;
    @include adaptiveValue("padding-top",150 , 40);
    @include adaptiveValue("padding-bottom",150 , 40);

    // .extension__content

    &__content {
        max-width: toRem(1440);
        margin: 0 auto;
        align-items: flex-start;

        display: flex; 
        @media (max-width:$mobile){
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    // .extension__picture

    &__picture {
        position: relative;
        @media (min-width:$mobile){
            flex: 1 1 38.75%; /* 558/1440 */   
        } 
      
    }
       // .live__title

    &__title {      
           &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 42, 20);
        }
        @media (min-width:$tablet){
            margin-left: toRem(-120);
        }
    }
  
    // .live__text

    &__text {
        @media (min-width:$mobile){
            max-width: toRem(310);  
        }
    }

    // .live__decor

    &__decor {         
    }
    // .extension__image

    &__image {
        max-width: 100%;
        border-radius: toRem(5);
        position: relative;
        z-index: 2;
    }

    // .extension__decor-picture

    &__decor-picture {        
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: toRem(223);
        aspect-ratio: 223 / 234;
        transform: translate(53.811659%,  61.538462%); /* 120/223 */
    }
		// .extension__item-decor-picture

		&__item-decor-picture {
            width: 100%;
            height: 100%;
		}

    // .extension__body
    &__body {
        @include adaptiveValue("padding-left", 55, 15);
        @include adaptiveValue("padding-right", 55, 15);
        @include adaptiveValue("padding-top", 160, 0);  
    }
    &__body {           
        z-index: 5;       
        position: relative;     
        @media (min-width:$mobile){
               flex: 1 1 34.17%;
            //    32.291667%; /* 465/1440 */
        }     
    }
}

.decor-extension {  
    display: none;
    flex: 1 1 26.25%; /* 378/1440 */
    @media (min-width:$tablet){
        display: block;
    @include adaptiveValue("padding-top", 235, 0);

 		// .decor-extension__body

	&__body {
        position: relative;
	}

    // .decor-extension__line-item

    &__line-item {
        position: absolute;
        left: 0;
        top: 0;
        width: 134.615385%; /* 525/390 */
        aspect-ratio: 525 / 531;       
    }

    // .decor-extension__line

    &__line {
        width: 100%;
        height: 100%;  
        stroke-dasharray: 1800;   
        stroke-dashoffset: 1800;
        &._watcher-view {                
            transition: all 1.5s linear 0.1s;
            // stroke-dasharray: 0;   
            stroke-dashoffset: 0;  
        }     
    }

		// .decor-extension__hair-item

		&__hair-item{
           transform: translate(50%,0);        
          
		}

    // .decor-extension__hair

    &__hair {
        border-radius: 50%;  
        background: rgb(206,181,186);
        background: linear-gradient(90deg, rgba(206,181,186,1) 23%, rgba(194,157,166,1) 100%);
        
        width: 100%;
        height: 100%;
       
        
     }

		// .decor-extension__dryer-item

		&__dryer-item {
            transform: translate(0,-23.75%); /* 95/400 */
		}

    // .decor-extension__dryer

    &__dryer {
        max-width: 100%;
    }
    } 
}

//====================================================================================================
.services {
    @include adaptiveValue("padding-top",150 , 40);
    @include adaptiveValue("padding-bottom",150 , 40);

    // .services__title

    &__title {
        text-align: center;
        @include adaptiveValue("margin-bottom", 106, 20);
    }
    &__body {
        position: relative;
        max-width: toRem(868);
        margin: 0 auto;

        display: grid;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        gap: toRem(20);
        align-items: flex-start;
        @media (max-width:$mobile){
            //  flex-direction: column; 
        }
        @media (max-width: toEm(659.98)) {
            margin-bottom: toRem(20);
        }
    }
    // .services__content

    &__content {
    }

    // .services__item

    &__item {
        flex-basis: toRem(190);
        flex-grow: 0;
        flex-shrink: 1;
        position: relative;
        &:nth-child(1) {

        }
        &:nth-child(2) {
            padding-top: toRem(145);
            
        }
        &:nth-child(1) {
            padding-top: toRem(87);
        }
    }
}

.item-service {

    // .item-service__link-image

    &__link {
        display: grid;
        gap: toRem(32);         
        z-index: 2;        
            @media (any-hover: hover){
            &:hover{
                .item-service__image {
                    transform: scale(1.05);
                }
                .item-service__name {
                    color: $redColor;
                }
            }
        }
    
    }
		// .item-service__name

		&__name {
            position: relative;
            z-index: 3;
            width: 80px;                 
		}

    // .item-service__image-item

    &__image-item {
        max-width: toRem(190);        
        z-index: 2; 
        overflow: hidden;
        @media (min-width:$mobile){  
        }
        &:nth-child(1) {
            aspect-ratio: 190 / 325;
        }
        &:nth-child(2) {
            aspect-ratio: 190 / 546;
         
        }
        &:nth-child(3) {
            aspect-ratio: 190 / 380;
        
        }
    }

    // .item-service__image
    
    &__image { 
        position: relative; 
        transition: transform 0.3s;   
        width: 100%; 
        height: 100%;
        object-fit: cover;          
    }


    // .item-service__title

    &__title {
  
    }
 		// .item-service__figure-item

		&__figure-item {
            z-index: 1;
            max-width: toRem(219);
            aspect-ratio: 219 / 203;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(37.899543%,31.034483%); 
            /* 97/190 */
		}

    // .item-service__figure

    &__figure { 
        width: 100%;
        height: 100%;       
    }
  
		// .item-service__deco-item

		&__deco-item {
            opacity: 0.5;
            z-index: 1;
            max-width: toRem(219);
            aspect-ratio: 219 / 170;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(70%, -55.05618%); /* -98/178 */
		}

    &__deco {
        width: 100%;
        height: 100%;
    }
}

.content-services {
    z-index: 5;
    position: relative;   
    @media (max-width:toEm(660)) {
        @include adaptiveValue("padding-top", 60, 40, 0, 660);
    }
    @media (min-width:toEm(660)){
    transform: translate(toRem(-43), toRem(-104)); /* 104/546 */
    max-width: toRem(320);  
    right: 50%; 
    justify-self: end;
    text-align: right; 
   }
   @media (max-width: toEm(659.98)){
      text-align: center;
    //   @include adaptiveValue("margin-top", 40, 10);
    }

    // .content-services__title

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 15);         
        }
    }

    // .content-services__link

    &__link {
    }
}
//====================================================================================================
.passion {
    background-color: #C2B8CC;
        // overflow: hidden;
    position: relative; 
    
    // .passion__container
    &__container {
        position: relative;
        aspect-ratio: 1440 /720;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @include adaptiveValue("padding-top",100 , 40);
        @include adaptiveValue("padding-bottom",100 , 40);       
    }

    // .passion__content

    &__content {
        text-align: center;
        position: relative;
        z-index: 2;
        flex-basis: toRem(800);    
        @media (max-width:toEm(1000)){
            flex-basis: toRem(650); 
        }
    }

    // .passion__title

    &__title {
        :not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    // .passion__text

    &__text {
        color: #fff;
        max-width: toRem(450);
    }

	// .passion__image-item

	&__image-item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        aspect-ratio: 1440 / 720;
        background-image: linear-gradient(90deg, rgb(206, 181, 186) 23%, rgb(194, 157, 166) 100%);
     }

	// .passion__image

	&__image {           
       
    	}
    // .passion__important-item
    
    &__important-item {
        position: absolute;
        writing-mode: vertical-lr;
        z-index: 2;
       transform: translate(0,-50%);
       top: 0;
       z-index: 2;
       @include adaptiveValue("right", 50, 15);
    }
    
    // .passion__important
    
    &__important {      
        color: #fff; 
        @include adaptiveValue("font-size", 16, 14);      
    }    
}
//====================================================================================================
.best {
    background-color: rgb(194, 184, 204);
    @include adaptiveValue("padding-top",150 , 40);
    @include adaptiveValue("padding-bottom",150 , 40);

		// .best__container

		&__container {
		}

		// .best__content

		&__content {
            display: flex;
            justify-content: space-between;
            max-width: toRem(870);
            margin: 0 auto;

            @media (max-width: toEm(599.98)){
                  flex-direction: column;
            }
		}

		// .best__item

		&__item {  
            position: relative;
            z-index: 2;  
               @media (max-width:toEm(599.98)){
                text-align: center;   
                margin: 0 auto;            
            }      
            // flex-shrink: 0;
            &:nth-child(1) {
                width: toRem(270);            
                @media (min-width:toEm(600)){
                    align-self: flex-end;
                }
            }
            &:nth-child(2) {
                flex-grow: 1;
                position: relative;
                z-index: 1;
                @include adaptiveValue("margin-top", 100, 20);
                @include adaptiveValue("margin-bottom", 70, 20);
                @media (min-width: toEm(600)) {                  
                    margin: 0 toRem(-86) 0 toRem(-50);
                }
           }
           &:nth-child(3) {
            width: toRem(280);
            margin: 0 auto;
           }
		}
    }
.item-best {
       // .item-best__image

    &__image {
        max-width: 100%;
        border-radius: toRem(8);
        position: relative;
        z-index: 2;
    }

    // .item-best__deco-item

    &__deco-item {
        position: absolute;
        top: 0;
        left: 0;
        aspect-ratio: 268 / 254;
        transform: scale(0)  translate(-80.970149%,65.748031%);
        transform-origin: bottom right;
        transition: transform 0.8s;

        &._watcher-view {
            transform: scale(1)  translate(-80.970149%,65.748031%);
        }
    }

    // .item-best__deco

    &__deco {
        width: 100%;
        height: 100%;
    }

    // .item-best__figure-item

    &__figure-item {
        position: absolute;
        top: 0;
        right: 0;
        max-width: toRem(236);
        aspect-ratio: 236 / 223 ;
        transform: scale(0)  translate(53%,20%);
        transform-origin: left;
        transition: transform 0.8s;
        /* 150/236 */
        &._watcher-view {
            transform: scale(1)  translate(53%,20%);
        }
    }

    // .item-best__figure

    &__figure {
        width: 100%;
        height: 100%;
    }
		// .item-best__body

		&__body {
            max-width: toRem(280);
            @include adaptiveValue("padding-top", 100, 50);
            @include adaptiveValue("margin-left", 20, 0);
            @media (max-width:toEm(599.98)){
                  display: inline-block;
            }
		}

		// .item-best__title

		&__title {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 32, 20);
            }
		}

		// .item-best__link

		&__link {
		}
}



//====================================================================================================
//====================================================================================================
